<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JLike: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        html {
            margin: 20px;
        }

        h2 {
            font-size: 1.5rem;
        }

        a {
            text-decoration: underline;
        }

        hr {
            border-top: 1px solid rgba(0, 0, 0, .4)
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>

<div id="content">
    {% block page %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
    {% endblock %}
</div>

</body>
</html>